*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --primary:rgb(17,21,24);
    --secondary:#e84444;
    --warning:#fcba03;
    --section-margin:80px;
    /* font-family: "Montserrat", sans-serif; */
}
.App{
    width: 1440px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #333;
    
}


::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

body{
    background-color: var(--primary);
}
